<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>
        <tab id="Amasty_CoolModule" translate="label" sortOrder="4">
            <label>Amasty Cool Module</label>
        </tab>
        <section id="cool_config" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cool Module Config</label>
            <tab>Amasty_CoolModule</tab>
            <resource>Amasty_CoolModule::config</resource>
            <group id="general" translate="label"  showInDefault="1" showInWebsite="1" showInStore="1">
                <label> General Configuration</label>

                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="greeting_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Greeting Text</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="show_qty" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show qty?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="field_qty" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>QTY</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry no-whitespace integer</validate>
                    <depends>
                        <field id="show_qty">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
